@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gochi+Hand&family=Great+Vibes&family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Gochi+Hand&family=Great+Vibes&family=Lumanosimo&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    width: 100%;
    text-decoration: none;
    background-image: url("./7433353.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

line-height: 1.9;
}
.uhuh {
    margin-left: 70%;
    height: 50vw;
/* padding-left: 20%; */
padding-top: -8%;
position: absolute;
} 
.ghgh {
    padding-top: 42px;
    padding-left: 83px;
    padding-right: 380px;
}
.cft {
  font-size: 2.5rem;
  padding-top: 300%;
  color: rgb(75, 48, 100);
  border-bottom: 4px solid rgb(255, 115, 0);
}
h1 {
    font-size: 3rem;
    color: red;
    border-bottom: 2px solid black;
    width: 500px;
}
h1,h2 {
    
    font-family: 'Dancing Script', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lumanosimo', cursive;
}
h2 {
   line-height: 3;
}
.bnbh {
    padding-left: 6.5%;
  
}
.bnbh i {
    font-size: 2.9rem;
    padding-top: 1.5%;
    color: black;
}







p{
    font-family: 'Dancing Script', cursive;
}



.bnbh {
font-size: 1.8rem;    
color: rgb(0, 51, 255);
}
p {
padding-right: 10%;
font-size: 1.5rem;
}
button i {
    color: white;
    transition: 0.5s;
    font-size: 2rem;
}

            
button {
             
   width: 310px;
     height: 60px;
     border: 1.2px solid white;
   margin-left: 52%;
    border-radius: 50px;
    transition: 0.5s;
    background-color: black;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
button a {
    color: white;
    text-decoration: none;
transition: 0.5s;
}
     
button:hover {
    border: 1.2px solid black;
    background-color: white;
   
}
button i:hover {
color: black;
}
button a:hover {
    color: black;
   font-weight: 450;
}
         
         

          

 